@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
.show {
    display: block;
}
body {
    font-family: 'Nunito';
    flex-direction: column;
    overflow: hidden;
}
main {
    margin-bottom: 15px;
    height: 70vmin;
}
h1, h2, h3 {
    font-weight: bold;
}

.center {
    text-align: center;
}

.img {
    width: 95%;
    height: auto;
}

footer {
    position: relative;
    bottom: 0;
    p {
        opacity: 70%;
        line-height: 20px;
        &:hover {
            opacity: 100%;
        }
    }
}

.hero {
    font-size: 64px;
}

@media (max-width: 576px) {
    p {
        text-align: center;
        line-height: 30px;
    }

    .hero {
        text-align: center;
    }
    h1, h2, h3 {
        text-align: center;
    }
}