@import "./reset.css";
@import "./utils.css";
@import "./variables.css";
@import "./typography.css";
@import "./colors.css";
@import "./buttons.css";
@import "./navigation.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.035em;

  display: grid;
  grid-template-rows: min-content 1fr;

  background-color: hsl(var(--clr-light));
  /* background-image: url("../img/background-image.jpg");
  background-size: cover;
  background-position: bottom; */
  color: hsl(var(--clr-dark));
  min-height: 100vh;
  overflow-x: hidden;

  margin: 0.125rem 0.25rem;
  padding: 0.125rem 0.25rem;
}

.primary-header {
  justify-content: space-between;
}

.project header {
  text-align: center;
}

@media (min-width: 45rem) {
  .project {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }

  .project header {
    text-align: left;
  }

  .project__image {
    max-width: 60%;
  }
}
