@import "./reset.css";
@import "./utils.css";
@import "./variables.css";
@import "./typography.css";
@import "./colors.css";
@import "./buttons.css";
@import "./navigation.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.035em;

  display: grid;
  grid-template-rows: min-content 1fr;

  background-color: hsl(var(--clr-light));
  color: hsl(var(--clr-dark));
  min-height: 100vh;
  overflow-x: hidden;
}
