.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 3rem;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  text-decoration: none;
  color: hsl(var(--clr-dark));
  padding-left: 0.5rem;
  border-left: 3px solid transparent;
}

.navigation a:hover {
  color: hsl(var(--clr-accent));
  border-color: hsl(var(--clr-accent));
}
